.profilePic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.2);
}

.profile-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}